@using Questionnaire.Models.Dto;
@model List<TestResultDto>;

@foreach(var res in Model)
{
    <h2>@res.PersonName</h2>
    <div>
        @Html.ActionLink("Ознакомиться с результатом","GetResult","TestResult",new {id=@res.Id}, new { @class = "button"})
    </div>
}

