@using Questionnaire.Models;
@model TestResult;

<h1>@Model.Test.Title</h1>
<h2>@Model.PersonName</h2>

@foreach(var question in Model.Answers)
{
    <div class="question">
        <h3>@question.Question.Text</h3>
        <span>Выбранные ответы:</span>
        @foreach(var answer in question.SelectedAnswers)
        {
            <li>@answer.Text</li>
        }
    </div>
}